@charset "UTF-8";
/*==========================================================================================================

	関数

============================================================================================================*/
/*=============================================================================================================================
*
*
*	共通
*
*
===============================================================================================================================*/
/* line 32, ../sass/style.scss */
.l-main {
  max-width: 920px;
  padding-bottom: 50px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px; }

/* line 42, ../sass/style.scss */
body {
  font-family: "'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック','メイリオ',Meiryo,Osaka,sans-serif";
  line-height: 1.8em;
  font-size: 13px; }

/* line 49, ../sass/style.scss */
p {
  margin-bottom: 30px; }

/* line 53, ../sass/style.scss */
a {
  color: #BF8E21;
  font-weight: bold; }

/* line 58, ../sass/style.scss */
a:hover {
  text-decoration: none; }

/* line 62, ../sass/style.scss */
.yt {
  color: #BF8E21; }

/* line 66, ../sass/style.scss */
.yb {
  background: #F7F2E6;
  padding: 25px 35px; }

/* line 71, ../sass/style.scss */
.an {
  font-size: 12px;
  color: #7F7F7F; }

/* line 76, ../sass/style.scss */
.section {
  margin-bottom: 65px; }
  /* line 78, ../sass/style.scss */
  .section h2 {
    color: #3D7936;
    font-size: 27px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #3D7936;
    font-weight: bold;
    line-height: 1.3em; }
  /* line 88, ../sass/style.scss */
  .section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px; }

/* line 97, ../sass/style.scss */
.spBrShow br {
  display: none; }

/* line 102, ../sass/style.scss */
.table {
  border: solid 1px #E0E0E0;
  border-width: 0 1px 1px 0;
  display: table;
  width: 100%; }
  /* line 108, ../sass/style.scss */
  .table dl {
    display: table-row; }
    /* line 111, ../sass/style.scss */
    .table dl dt, .table dl dd {
      border: solid 1px #E0E0E0;
      border-width: 1px 0 0 1px;
      margin: 0;
      padding: 21px 24px 20px;
      display: table-cell;
      vertical-align: top; }
    /* line 120, ../sass/style.scss */
    .table dl dt {
      background: #F4F4F4;
      width: 20%; }

/* line 129, ../sass/style.scss */
.night {
  color: #3070B2;
  background: url('../images/price/icon_night.gif?1432727386') no-repeat left center;
  background-size: 25px 20px;
  -moz-background-size: 25px 20px;
  -webkit-background-size: 25px 20px;
  -o-background-size: 25px 20px;
  -ms-background-size: 25px 20px;
  padding-left: 30px; }

/*==========sp=========*/
@media screen and (max-width: 768px) {
  /* line 140, ../sass/style.scss */
  .l-main {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box; }

  /* line 146, ../sass/style.scss */
  .yb {
    padding: 15px 20px; }

  /* line 150, ../sass/style.scss */
  .spBrShow br {
    display: block; }

  /* line 156, ../sass/style.scss */
  .table dl dt, .table dl dd {
    display: block;
    width: 100% !important;
    padding: 15px 15px;
    box-sizing: border-box; } }
/*=============================================================================================================================
*
*
*	個別ページcss
*
*
===============================================================================================================================*/
/*===================================================================
*
*	TOP
*
====================================================================*/
/* line 184, ../sass/style.scss */
#page-top .topArea .bg {
  background: #000 url('../images/top/mainImage.jpg?1432727386') no-repeat top center;
  height: 476px;
  width: 100%;
  text-indent: -9999px; }
/* line 191, ../sass/style.scss */
#page-top .topArea p {
  background: #F7F7F7;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-weight: bold; }
  /* line 198, ../sass/style.scss */
  #page-top .topArea p .yt {
    font-weight: bold;
    display: inline-block;
    border-right: 1px solid #BBBBBB;
    padding-right: 13px;
    margin-right: 13px;
    letter-spacing: 1px; }
/* line 210, ../sass/style.scss */
#page-top .node--page ul {
  list-style-type: none;
  margin-top: 60px;
  padding: 0; }
  /* line 215, ../sass/style.scss */
  #page-top .node--page ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 3px; }
    /* line 220, ../sass/style.scss */
    #page-top .node--page ul li.clear {
      margin-right: 0; }

@media screen and (max-width: 768px) {
  /* line 232, ../sass/style.scss */
  #page-top .topArea .bg {
    background: url('../images/top/mainImage_sp.jpg?1432727386') no-repeat top center;
    background-size: 800px 265px;
    -moz-background-size: 800px 265px;
    -webkit-background-size: 800px 265px;
    -o-background-size: 800px 265px;
    -ms-background-size: 800px 265px;
    height: 265px;
    width: 100%; }
  /* line 239, ../sass/style.scss */
  #page-top .topArea p {
    text-align: left;
    padding: 15px;
    box-sizing: border-box; }
    /* line 245, ../sass/style.scss */
    #page-top .topArea p .yt {
      border-right: none;
      padding-right: 0px;
      margin-right: 0px;
      margin-bottom: 5px; }
  /* line 255, ../sass/style.scss */
  #page-top ul {
    margin-top: 30px;
    width: 290px;
    margin: 0 auto; }
    /* line 260, ../sass/style.scss */
    #page-top ul li {
      margin-right: 10px;
      margin-bottom: 3px; }
      /* line 261, ../sass/style.scss */
      #page-top ul li img {
        width: 135px;
        height: 154px; } }
/*===================================================================
*
*	Price
*
====================================================================*/
/* line 283, ../sass/style.scss */
#page-price .section.rental dt {
  width: 34%; }
/* line 288, ../sass/style.scss */
#page-price .section .box {
  margin-bottom: 30px; }
  /* line 292, ../sass/style.scss */
  #page-price .section .box .day {
    color: #E2A860;
    background: url('../images/price/icon_day.gif?1432727386') no-repeat left center;
    background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -ms-background-size: 25px 25px;
    padding-left: 30px; }
  /* line 300, ../sass/style.scss */
  #page-price .section .box table td:nth-child(2) {
    width: 12px;
    text-align: center; }

/*===================================================================
*
*	Regulation
*
====================================================================*/
/* line 319, ../sass/style.scss */
#page-regulation .icon1 {
  background: url('../images/regulation/icon01.gif?1432727386') no-repeat left center;
  background-size: 46px 46px;
  -moz-background-size: 46px 46px;
  -webkit-background-size: 46px 46px;
  -o-background-size: 46px 46px;
  -ms-background-size: 46px 46px;
  padding-left: 58px;
  padding-top: 26px; }
/* line 319, ../sass/style.scss */
#page-regulation .icon2 {
  background: url('../images/regulation/icon02.gif?1432727386') no-repeat left center;
  background-size: 46px 46px;
  -moz-background-size: 46px 46px;
  -webkit-background-size: 46px 46px;
  -o-background-size: 46px 46px;
  -ms-background-size: 46px 46px;
  padding-left: 58px;
  padding-top: 26px; }
/* line 319, ../sass/style.scss */
#page-regulation .icon3 {
  background: url('../images/regulation/icon03.gif?1432727386') no-repeat left center;
  background-size: 46px 46px;
  -moz-background-size: 46px 46px;
  -webkit-background-size: 46px 46px;
  -o-background-size: 46px 46px;
  -ms-background-size: 46px 46px;
  padding-left: 58px;
  padding-top: 26px; }
/* line 319, ../sass/style.scss */
#page-regulation .icon4 {
  background: url('../images/regulation/icon04.gif?1432727386') no-repeat left center;
  background-size: 46px 46px;
  -moz-background-size: 46px 46px;
  -webkit-background-size: 46px 46px;
  -o-background-size: 46px 46px;
  -ms-background-size: 46px 46px;
  padding-left: 58px;
  padding-top: 26px; }
/* line 319, ../sass/style.scss */
#page-regulation .icon5 {
  background: url('../images/regulation/icon05.gif?1432727386') no-repeat left center;
  background-size: 46px 46px;
  -moz-background-size: 46px 46px;
  -webkit-background-size: 46px 46px;
  -o-background-size: 46px 46px;
  -ms-background-size: 46px 46px;
  padding-left: 58px;
  padding-top: 26px; }
/* line 319, ../sass/style.scss */
#page-regulation .icon6 {
  background: url('../images/regulation/icon06.gif?1432727386') no-repeat left center;
  background-size: 46px 46px;
  -moz-background-size: 46px 46px;
  -webkit-background-size: 46px 46px;
  -o-background-size: 46px 46px;
  -ms-background-size: 46px 46px;
  padding-left: 58px;
  padding-top: 26px; }
/* line 319, ../sass/style.scss */
#page-regulation .icon7 {
  background: url('../images/regulation/icon07.gif?1432727386') no-repeat left center;
  background-size: 46px 46px;
  -moz-background-size: 46px 46px;
  -webkit-background-size: 46px 46px;
  -o-background-size: 46px 46px;
  -ms-background-size: 46px 46px;
  padding-left: 58px;
  padding-top: 26px; }
/* line 327, ../sass/style.scss */
#page-regulation h3 {
  margin-bottom: 10px; }

/*===================================================================
*
*	Schedule
*
====================================================================*/
/* line 339, ../sass/style.scss */
#page-schedule .yb {
  margin-top: 30px; }
@media screen and (max-width: 768px) {
  /* line 344, ../sass/style.scss */
  #page-schedule iframe {
    width: 100%;
    height: 320px; } }

/*# sourceMappingURL=style.css.map */
