/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
/* line 13, ../../../sass/layouts/hero/hero.layout.scss */
.l-constrained, .l-region--footer {
  margin: 0 auto;
  max-width: 920px;
  width: 920px;
  *zoom: 1;
  width: 100%; }
  /* line 38, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-constrained:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
/* line 25, ../../../sass/layouts/hero/hero.layout.scss */
.l-region--header {
  padding: 18px 0; }
  /* line 28, ../../../sass/layouts/hero/hero.layout.scss */
  .l-region--header .block {
    float: right; }

/* Content Area */
/* line 34, ../../../sass/layouts/hero/hero.layout.scss */
.l-highlighted-wrapper {
  padding: 0 0 18px; }

/* line 37, ../../../sass/layouts/hero/hero.layout.scss */
.l-region--highlighted {
  margin: 0 auto;
  width: 100%; }

/* line 42, ../../../sass/layouts/hero/hero.layout.scss */
.front .l-region--highlighted {
  max-width: 100%;
  width: 100%; }

/* line 47, ../../../sass/layouts/hero/hero.layout.scss */
.l-region--help {
  margin-bottom: 18px; }

/* line 50, ../../../sass/layouts/hero/hero.layout.scss */
.l-main {
  margin-top: 36px;
  margin-bottom: 36px; }

/* Sidebars */
/* line 56, ../../../sass/layouts/hero/hero.layout.scss */
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 18px 1em; }

/* Footer */
/* line 62, ../../../sass/layouts/hero/hero.layout.scss */
.l-footer-wrapper {
  padding: 18px 0; }

/* line 70, ../../../sass/layouts/hero/hero.layout.scss */
.l-constrained, .l-region--footer {
  width: 100%; }

/* Header */
/* line 75, ../../../sass/layouts/hero/hero.layout.scss */
.l-branding {
  width: 23.72881%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 78, ../../../sass/layouts/hero/hero.layout.scss */
.l-region--header {
  width: 23.72881%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 81, ../../../sass/layouts/hero/hero.layout.scss */
.l-region--navigation {
  width: 100%;
  margin-top: 10px; }

/* Sidebars */
/* line 90, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-content,
.has-one-sidebar .l-content {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
/* line 93, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second,
.has-one-sidebar .l-region--sidebar-first,
.has-one-sidebar .l-region--sidebar-second {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }

/* Sidebars */
/* line 108, ../../../sass/layouts/hero/hero.layout.scss */
.has-one-sidebar .l-content {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
/* line 111, ../../../sass/layouts/hero/hero.layout.scss */
.has-one-sidebar .l-region--sidebar-first {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: none; }

/* line 117, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-content {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
/* line 120, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second {
  width: 23.72881%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  clear: none; }
/* line 125, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-region--sidebar-second {
  width: 23.72881%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* Sidebars */
/* line 135, ../../../sass/layouts/hero/hero.layout.scss */
.has-one-sidebar .l-content {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
/* line 138, ../../../sass/layouts/hero/hero.layout.scss */
.has-one-sidebar .l-region--sidebar-first {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: none; }

/* line 144, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-content {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
/* line 147, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second {
  width: 23.72881%;
  float: left;
  margin-right: -100%;
  margin-left: 50.84746%;
  clear: none;
  clear: none; }
/* line 152, ../../../sass/layouts/hero/hero.layout.scss */
.has-two-sidebars .l-region--sidebar-second {
  width: 23.72881%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*# sourceMappingURL=hero.layout.no-query.css.map */
