/*******************************************************************************
 * nest-hero.layout.scss
 *
 * Additional, theme specific styles for the Hero layout.
 ******************************************************************************/
/* Header */
/* line 18, ../../../sass/layouts/hero/nest-hero.layout.scss */
.l-header {
  background: #2c5136 url('../../../images/header/headerBg.gif?1431176972');
  padding-top: 25px; }

/* line 24, ../../../sass/layouts/hero/nest-hero.layout.scss */
.l-branding {
  float: left;
  width: 50%; }

/* line 28, ../../../sass/layouts/hero/nest-hero.layout.scss */
.l-region--header {
  float: right;
  width: 50%; }
  /* line 31, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .l-region--header .menu {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    /* line 49, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-block-list.scss */
    .l-region--header .menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      white-space: nowrap; }
  /* line 34, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .l-region--header .menu a {
    display: block;
    height: 35px;
    text-indent: -9999px; }

@media (max-width: 768px) {
  /* line 41, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .menu a {
    height: 40px;
    line-height: 40px;
    text-indent: 0; } }
/* Region highlighred */
/* line 50, ../../../sass/layouts/hero/nest-hero.layout.scss */
.l-highlighted-wrapper {
  background: #fff; }

/* line 53, ../../../sass/layouts/hero/nest-hero.layout.scss */
.l-region--highlighted {
  overflow: hidden;
  width: 100%; }
  /* line 56, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .l-region--highlighted .view-content {
    min-height: 200px;
    position: relative;
    text-align: center; }
    /* line 60, ../../../sass/layouts/hero/nest-hero.layout.scss */
    .l-region--highlighted .view-content ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    /* line 65, ../../../sass/layouts/hero/nest-hero.layout.scss */
    .l-region--highlighted .view-content img {
      max-width: 2500px;
      vertical-align: middle; }
  /* line 70, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .l-region--highlighted .field-content {
    left: 50%;
    margin-left: -1250px;
    position: absolute; }
  /* line 76, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .l-region--highlighted .views-field-field-img-header-1 {
    display: none; }

/* Content Area */
/* Sidebars */
/* line 84, ../../../sass/layouts/hero/nest-hero.layout.scss */
.l-region--sidebar-first,
.l-region--sidebar-second {
  background-color: #fff; }

/* Footer */
/* line 90, ../../../sass/layouts/hero/nest-hero.layout.scss */
.l-footer-wrapper {
  background: #1a1a1a;
  text-align: center; }
  /* line 93, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .l-footer-wrapper .menu {
    text-align: center; }
  /* line 96, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .l-footer-wrapper a {
    color: #fff;
    text-decoration: none; }

@media (max-width: 768px) {
  /* line 102, ../../../sass/layouts/hero/nest-hero.layout.scss */
  .block--menu-block {
    display: none; } }

/*# sourceMappingURL=nest-hero.layout.css.map */
